@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_start.scss";
@import "partials/_categories.scss";
@import "partials/_values.scss";
@import "partials/_questions.scss";
@import "partials/_rightOrWrong.scss";
@import "partials/_gameOver.scss";


body {
    background-color: $jeopardyBlue;
}

.hide {
    display: none;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 2% 5%;
    @include breakPoint(medium){
        width: 600px;
    }
    @include breakPoint(large){
        width: 800px;
    }
}

.mainHeading {
    padding-top: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakPoint(medium){
        justify-content: center;
    }
    
}
.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-clock {
    margin-right: 5px;
}


.timer, .score {
    color: hotpink;
}
.score {
    margin: 5px 0;
    @include breakPoint(medium){
        margin-left: 10px;
    }
}
