@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_start.scss";
@import "partials/_categories.scss";
@import "partials/_values.scss";
@import "partials/_questions.scss";
@import "partials/_rightOrWrong.scss";
@import "partials/_gameOver.scss";

// testing delete this!

body {
    background: $jeopardyBlue;
    font-size: 2rem;
}

.hide {
    display: none;
}

.wrapper {
    width: 300px;
    padding: 2%;
    margin: 0 auto;
}

.mainHeading {
    padding-top: 50px;
}

.timerScore {
    display: flex;
    justify-content: flex-end;
    
}

.timer, .score {
    margin: 5px 10px;
}
