.categoryTitle {
//    margin: -20px 0; 
margin-top: -15px;
   @include breakPoint(large){
       text-align: center;
   }
}

//category titles
.categoryChoice {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        @include breakPoint(large){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
        label {
            display: block;
            padding: 2%;
            width: 100%;
            @include breakPoint(large){
                width: 35%;
            }
                &:hover{
                    border: 1px solid $jeopardyYellow;
                }

        }

}

.category {
    position: fixed;
    opacity: 0;
        &:focus + label {
            border: 1px solid $jeopardyYellow;
        }
}

//submit button
.submitCategory {
    margin: 20px;
}
