
.categoryTitle {
    margin: 20px 0;
}

//category titles 
.categoryChoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        label {
            display: block;
            // text-align: center;
            padding: 2%;
            width: 100%;
            // background-color: yellow;

                &:hover{
                    border: 1px solid $jeopardyYellow;  
            }
        }
            
}

//hide radio buttons
.category {
    display: none;
}

//submit button
.submitCategory {
    margin: 20px;
}

