.gameOver {
    text-align: center;
    p {
        width: 70%;
        line-height: 30px;
        margin: 0 auto;
    }
    h1 {
        font-size: 4rem;
        color: white;
    }
    input {
        margin-top: 20px;
    }
    img {
        width: 90%;
    }
}



.answers {
    input {
        display: block;
        display: flex;
        align-content: column;
    }
}

.finalScore {
    span {
        color: $jeopardyYellow;
        font-weight: bold;   
    } 
}

