
.wager {
    margin-top: -20px;
}

.answerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.title {
    margin-top: -25px;
}

.questionText {
     color: $jeopardyYellow;
     @include breakPoint(large){
         width: 70%;
     }
}

label {
    display: block;
    padding: 2% 2% 2% 0;
    width: 100%;
    // margin: 
        &:hover{
            border: 1px solid $jeopardyYellow; 
    }
}

label:focus-within{
    border: 1px solid $jeopardyYellow; 
}

input:focus + label {
    border: 1px solid $jeopardyYellow;
}

.answerForm input[type="radio"]{
    position: fixed;
    opacity: 0
}

.submitAnswer {
    margin-top: 20px; 
}