input.checked[type="radio"]{
    visibility:hidden;
}



.answerForm {
    display: flex;
    // display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    h3 {
        font: size
    }
}