.right, .wrong {
    text-align: center;
    h1 {
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-size: 5rem;
        // margin: 20px 0;
        
    }
}

.right h1 {
    margin-bottom: 20px;
}
