
.startGame img {
    width: 100%;
    margin-top: -25px;
    
}

.button {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: $jeopardyYellow;
}

.startInstructions {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    @include breakPoint(medium){
        width: 70%;
    }
}

.alex {
    margin-top: 50px;
    fill: black;
}
