
// font-family: 'Fascinate Inline', cursive;


html {
    font-size: 62.5%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;

}



h1 {
    margin: 0;
    text-align: center;
    font-family: $mainTitle;
    color: $jeopardyYellow;
    text-transform: uppercase;
}

.h1Small {
    font-size: 1.5rem;
   letter-spacing: 2.2rem;
   padding-left: 2.2rem;
}



//for mobile
.h1Big {
   font-size: 4rem;
   letter-spacing: 0.9rem;
   padding-left: 0.9rem;
   line-height: 4rem;
}

h2 {
    font-size: 3rem;
}


p {
    font-size: 1.8rem;
}

input {
    font-size: 1.5rem;
}

// h1 {
//     margin: 0;
//     text-align: center;
//     font-family: $mainTitle;
//     color: rgb(255, 204, 0);
//     text-transform: uppercase;
//     @include breakPoint(smallest){
//         .h1Small {
//         font-size: 1.5rem;
//         letter-spacing: 2.2rem;
//         padding-left: 2.2rem;
//         }
//     }
// }



// .h1Big {
//     font-size: 5rem;
//     letter-spacing: .7rem;
//     padding-left: .7rem;
//     line-height: 4rem;
// }

// .h1Small {
//     font-size: 2rem;
//     letter-spacing: 2.5rem;
//     padding-left: 2.5rem;
//     @include breakPoint(smallest){
//         font-size: 4rem;
//         letter-spacing: 0.9rem;
//         padding-left: 0.9rem;
//         line-height: 4rem;
//     }
// }