
// $highlight-color: rgb(189, 36, 36); 
$mainTitle: 'Titillium Web', sans-serif;
$jeopardyBlue: rgb(6, 12, 233);
$jeopardyYellow: rgb(255, 204, 0);


@mixin breakPoint($point) {

  @if $point == medium {
      @media (min-width: 620px) { @content; }
  } 
  
  // @else if $point == large {
  //     @media (max-width: 775px) { @content; }
  // } 

  // @else if $point == mediumish {
  //   @media (max-width: 670px) { @content; }
  // }
  
  // @else if $point == small {
  //   @media (max-width: 500px) { @content; }
  // }  

  // @else if $point == smallest {
  //   @media (max-width: 333px) { @content; }
  // }  

}