
$mainTitle: 'Titillium Web', sans-serif;
$jeopardyBlue: rgb(6, 12, 233);
$jeopardyYellow: rgb(255, 204, 0);


@mixin breakPoint($point) {
  @if $point == medium {
      @media (min-width: 620px) { @content; }
  } 
  
  @else if $point == large {
      @media (min-width: 800px) { @content; }
  } 
}